* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Bai Jamjuree", sans-serif;
  font-weight: 400;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.8rem;
}

img {
  width: 100%;
  padding-top: 10rem;
}

h1,
h2,
h3 {
  font-weight: 600;
  padding-bottom: 2rem;
  padding-top: 10rem;
}

h1 {
  padding-top: 0;
}

h3 {
  padding-top: 5rem;
}

p {
  font-weight: 100;
}

footer {
  margin-top: 15rem;
  background-color: hsl(0, 0%, 95%);
  text-align: center;
}

button {
  border-style: none;
  padding: 1.5rem 0rem;
  width: 90%;
  margin-top: 2rem;
  color: white;
  border-radius: 100px;
  box-shadow: inset 0rem -0.3rem rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.btn-1 {
  background-color: hsl(171, 66%, 44%);
}

.btn-2 {
  background-color: hsl(233, 100%, 69%);
}

.bg-img-mobile {
  position: absolute;
  padding-top: 0;
}

.bg-img-desktop {
  display: none;
}

.logo {
  text-align: center;
  width: 30%;
  max-width: 100px;
  margin: 0 auto;
  padding-top: 7rem;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  padding-top: 10rem;
}

.content {
  width: 90%;
  margin: 0 auto;
}

.container-img-section {
  width: 85%;
  margin: 0 auto;
  text-align: center;
}

.computer {
  max-width: 900px;
}

.flex {
  display: flex;
}

.flex-one {
  flex-direction: column;
}

.flex-two {
  flex-direction: column;
}

.flex-three {
  flex-direction: column;
  list-style: none;
  margin: 0 auto;
}

.link-item {
  padding: 1.5rem;
}

.link-item a {
  text-decoration: none;
  color: black;
}

.logo-footer {
  width: 40%;
  padding-top: 2rem;
}

.icons {
  margin: 0 auto;
  width: 10%;
}

.partners {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15rem;
  margin-bottom: 10rem;
  gap: 5rem;
}

.part-logo {
  width: 30%;
  padding-top: 0rem;
}

.social-icons {
  display: flex;
  width: 20%;
  gap: 4rem;
  padding-top: 0rem;
}

.media-link {
  padding-top: 2rem;
  padding-bottom: 3rem;
}

@media (min-width: 1200px) {
  .flex-one {
    flex-direction: row;
    gap: 10rem;
  }

  .computer {
    width: 100%;
  }
}

@media (min-width: 900px) {
  .container {
    width: 100%;
  }

  .bg-img-mobile {
    display: none;
  }

  .bg-img-desktop {
    display: block;
    position: absolute;
    padding-top: 0;
  }

  .content {
    width: 100%;
    margin: 0 auto;
  }

  .container-img-section {
    margin: 0 auto;
  }

  .buttons {
    display: flex;
    gap: 2rem;
    max-width: 500px;
    margin: 0 auto;
  }

  .flex-one-text {
    margin: 0 auto;
    text-align: center;
    align-content: center;
    padding-top: 9rem;
    width: 35%;
  }

  .computer {
    width: 100%;
  }

  .row {
    display: flex;
    gap: 5rem;
  }

  .col {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .icons {
    width: 10%;
  }

  .partners {
    flex-direction: row;
    justify-content: center;
  }

  html {
    font-size: 12px;
  }
}
